<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<p class="lead">Waterloo DECA is a chapter in an international association of students who share a mutual passion for business and participating in case competitions. The organization maintains a strong focus in business-related areas such as accounting, finance, marketing, management, and entrepreneurship.</p>
			</div>

		</div>
		<div class="divider"></div>
		<!-- TODO: find better way to do layout -->
		<div class="row history">
			<div class="col-md-4">
				<img src="/img/logo-color.png" style="margin:10px 0;" alt="uwdeca" width="100px">
				
				<div class="divider clear"></div>

				<p>Since 2000, Waterloo DECA has been operating under the Federation of Students (FEDS) at the University of Waterloo, attracting students of various educational disciplines across the six faculties. The organization aims to improve leadership, communication, and critical thinking skills through professional development conferences and enriching training programs.</p>
				
			</div>
			<div class="col-md-4">
				<img src="/img/decau.jpg" style="margin:20px 20px 20px 0;" alt="uwdeca" width="250px">

				<div class="divider clear"></div>

				<p>DECA U Ontario is the umbrella organization of DECA chapters in over 20 Ontario universities and colleges, including Waterloo DECA. The annual DECA U Provincial Competition is hosted at the Sheraton Hotel in downtown Toronto every January.</p>
			</div>
			<div class="col-md-4">
		
				<img src="/img/deca.png" style="margin:20px 0 43px 0;" alt="uwdeca" width="250px">
				<div class="divider clear"></div>

				<p>DECA Inc. is the international parent association and was founded in 1946. It is now operating in 200 universities and colleges across Canada, the United States, Puerto Rico, and Guam. DECA Inc. also hosts the annual International Career Development Conference (ICDC) in the United States.</p>
			</div>
		</div>
	</div>
</div>