<div scroll-fade start-scroll="0" end-offset="300">
	<div class="home logo"></div>

	<!-- <div class="home arrow down"></div> -->
</div>

<!-- <div class="home footer">
	<div class="container">
    <div class="icon facebook"><a href="{{facebookLink}}"></a></div>
  <div class="icon twitter"><a href="{{twitterLink}}"></a></div>
		<div class="row">
			<div class="col-md-6 facebook-feed">
				<div class="icon facebook">Facebook</div>
				<div facebook-feed app-id="facebookAppId" class="feed">
          <div ng-repeat="item in fbFeed">
            <img src="{{item.full_picture}}">
            <div ng-bind-html="item.message"></div>
            <div class="divider top"></div>
          </div>

        </div>
			</div>
			<div class="col-md-6 twitter-feed">
				<div class="icon twitter">Twitter</div>
				<div class="feed"></div>
			</div>
		</div>
	</div>
	
</div>

 -->