<div class="container">
	<div class="content">
		<div class="events">
     	<h3>Registration Sessions</h3>
			<div class="meta">
				<p class="date"><span class="glyphicon glyphicon-calendar"></span>October 1st 6:30 PM to 8:30 PM</p>
				<p class="location"><span class="glyphicon glyphicon-globe"></span>SLC Room 2143</p>
			</div>
			<div class="meta">
				<p class="date"><span class="glyphicon glyphicon-calendar"></span>October 2nd 6 PM to 8 PM</p>
				<p class="location"><span class="glyphicon glyphicon-globe"></span>V1 Caf</p>
			</div>
		</div>
		<div class="divider top full"></div>
		<p>Stay in the loop by following us on <a target="_blank" href="{{twitterLink}}">Twitter</a> and <a target="_blank" href="{{facebookLink}}">Facebook.</a></p>

	</div>
</div>